.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.pokemon:hover {
    transform: scale(.9);
    outline: .2rem solid #bcbaba94;

}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.card-pokemon {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
    align-items: center;
    justify-content: center;
}

.card-pokemon .header {
    padding: 1rem;
}

.card-pokemon .preview {
    position: relative;
    border-radius: 1rem;
    width: 18em;
}

.card-pokemon .preview .active {
    display: inline-block;
}

.card-pokemon .preview .header-card {
    flex-direction: row;
}

.card-pokemon .preview .center {
    display: flex;
    justify-content: center;
}

.card-pokemon .preview .img-card {
    width: 8em;
    margin-top: 1.3rem;
    align-items: center;
}

.body-card {
    margin-top: -2rem;
    padding: 1.3rem 1rem 0 1rem;
    background-color: #fff;
    font-size: .625rem;
}

.body-card .main-card {
    display: flex;
    flex-direction: row;
}

.body-card .main-card span {
    padding: .25rem;
    text-transform: capitalize;
}

.group-abilities {
    display: flex;
    list-style: none;
    margin: 0;
    padding: .25rem;
    text-transform: capitalize;

}

.card-pokemon .preview .nav-bar .nav {
    margin: 0;
    padding: 0;
    display: flex;
    font-size: .625rem;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.card-pokemon .preview .nav-bar .nav li a {
    color: #00000062;
    display: block;
    text-align: center;
    padding: .15rem;
    text-decoration: none;
    margin-bottom: 1rem;
}


.card-pokemon .preview .nav-bar .nav li a:hover {
    color: #000000d1;
}

.card-pokemon .preview .nav-bar .nav li .active {
    color: #000000d1;
}

.card-pokemon .preview .number {
    color: #000;
    opacity: .3;
    font-size: .825rem;
}

.card-pokemon .preview .return {
    position: absolute;
    font-family: arial;
    right: 0.1rem;
    font-size: 1rem;
    color: #fff;
    font-weight: 400;
    border: none;
    padding: 0.10rem 1rem 1rem 1rem;
    background-color: #ffffff00;
}

.card-pokemon .preview .name {
    text-transform: capitalize;
    color: #fff;
    margin-top: 1rem;
    margin-bottom: .25rem;
    font-size: 1.45rem;
}

.card-pokemon .preview .types {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.card-pokemon .preview .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem .15rem .25rem 0;

    font-size: .625rem;
    border-radius: 1rem;
    background-color: #ffffff28;

}

.card-pokemon .body-card {
    border-radius: 1rem;
}

.card-pokemon .info-card1 {
    display: flex;
    flex-direction: column;
    color: #00000062;
}

.card-pokemon .info-card1 .stronger {
    color: #000000d1;
    font-weight: 700;
    padding: 0.25rem;
}

.card-pokemon .info-card2 .stronger {
    padding: 0.25rem;
}

.card-pokemon .info-card2 {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    padding-bottom: 1rem;
    color: #000000be;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}



@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}